<div class="cardContainer">
    {{#each products}}
<div class="productCard">
    <img src={{this.thumbnail}}>
    <h4>Title: {{this.title}}</h4>
    <h5>Price: {{this.price}}</h5>
</div>
    {{/each}}
</div>
